.div3 {
    height: 400px;
    background-color: rgb(243, 222, 31);
    overflow: hidden;
}

.coordinates {
    position: absolute;
}

.div5 {
    height: 100px;
    width: 100px;
    background-color: rgb(223, 18, 250);
    transition: all 0.5s ease 0s;
}

span {
    display: block;
    padding: 10px 0 0 0;
}
