.box {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;
    justify-content: space-between;
}

.card {
    width: 240px;
    height: 200px;
    background-color: aliceblue;
    margin: 10px;
    box-shadow: 0 0px 7px rgb(49, 48, 48);
}

.name {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(208, 231, 252);
}

.gender {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(196, 216, 235);
}

.homeworld {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(173, 193, 212);
}
