/* #1 Stopwatch */
.black {
    background: black;
}

.default {
    background: rgba(22, 97, 12, 0.5);
}

.silver {
    background: rgba(88, 88, 88, 0.5);
}

.red {
    background: rgba(231, 40, 40, 0.5);
}

.green {
    background: rgba(39, 211, 76, 0.5);
}

.container-stopwatch {
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px black;
}

.stopwatch-display {
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.stopwatch-display span {
    font-size: 2rem;
}

.stopwatch-control button {
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor: pointer;
}

.stopwatch-control button:nth-child(2) {
    margin: 0 0.5rem;
}

.task1,
.task2 {
    padding: 10px 0;
}

/* ========================================================================================== */
/* #3 Slider */
#gallery {
    width: 500px;
    position: relative;
}

#gallery .photos {
    position: relative;
}

#gallery .photos img {
    width: 100%;
    height: 330px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease 0s;
}

#gallery .photos img.show {
    opacity: 1;
}

.buttons {
    position: absolute;
    top: 140px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.next,
.prev {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    font-size: 2.5rem;
    z-index: 5;
    cursor: pointer;
}
