@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    padding: 0;
    margin: 0;
}

nav,
header,
footer {
    display: block;
}

.font {
    font-family: "Roboto";
    font-size: 22px;
    color: gray;
}

.wrapper {
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

.header {
    width: 794px;
    height: 200px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 800px;
    display: flex;
}

.nav {
    width: 100px;
    height: 400px;
    border: 3px solid orange;
    margin: -3px 0 0 0;
    display: flex;
    align-items: center;
}

.section {
    width: 700px;
    height: 400px;
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px 0 0 -3px;
}

.footer {
    width: 794px;
    height: 200px;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px 0 0 0;
    position: relative;
}

h1 {
    text-align: center;
}
